<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://bootswatch.com/5/lux/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="https://imagekit.io/tools/asset-public-link?detail=%7B%22name%22%3A%22warehouse.png%22%2C%22type%22%3A%22image%2Fpng%22%2C%22signedurl_expire%22%3A%222028-01-21T14%3A04%3A36.538Z%22%2C%22signedUrl%22%3A%22https%3A%2F%2Fmedia-hosting.imagekit.io%2F%2F42c6345ff5bd41af%2Fwarehouse.png%3FExpires%3D1832076277%26Key-Pair-Id%3DK2ZIVPTIP2VGHC%26Signature%3D28WVuA0wNzRYfIVsFb7132P5rb23ugeU-GX~2pbQP6xnyAL2eFOeB4PACv2kvkR3ptLdncTSn1bTrPKJGURRZjGPInYtfshr6HB4mWafBZyY19EV-jb-tb4dm6DO5DIQk~z3uKMzl4zTJ2ls9wc0CQolVn4RAaQR8awDWqw-oLLR9hv0Zn92vRvY8vGKcgOSKPwyAzVrO25n8zkR-qaEbh4uCOOhijuZc-IQ~gI~4m6QVohymzbyQ65piCyLom7aWeVDmpjljeEIZgbz5yfGTwoLguyOaUlNSH4z1xbzg~wo10BErmf1difqtekDnT7eNGHwQ1hmtBu2z5J6F880lg__%22%7D" href="http://example.com/favicon.ico" />
    <title>WAREHOUSE MANAGEMENT TOOL</title>
</head>
<body>
    {% include 'Inventory/navigation.html' %}


    {% block content %}
    {% endblock content %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>